* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-image: url("../images/worldmap.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
}

ul::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background-color: white;
}
ul::-webkit-scrollbar,
div::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}
ul::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    border-radius: 10px;
    background-color: var(--bs-secondary);
}

:root {
    --bg-dark: #FFF;
    --bg-deep: #19202D;
    --bg-normal: #252d44;
    --bg-light: #2A334A;
    
    --bt-dark: #000;
    --bt-normal: #3F475E; 
    --bt-light: #464C59;
    --bt-lighter: #EEE;

    --green-dark: #2a9139;
    --green-light: #3dbd40;

    --red-dark: #db4931;
    --red-light: #e04d25;
}

section.overlay {
    background-color: #000;
    opacity: 0.7;
}

section {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

section.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    padding: 1em;
    background-color: #fff;
}
section.login form > div {
    display: flex;
    width: 100%;
    font-size: 1.6em;
    justify-content: space-between;
}

section.login form * {
    font-size: 2em;
    padding: 0.2em;
}

section.login form input {
    width: 450px;
    margin-bottom: 0.4em;
}
section.login form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 4px;
    border-style: double;
}
section.login div * {
    font-size: 1em;
}
section.login form button img#loading {
    opacity: 1;
    height: 1em;
    width: 1em;
    margin: 0;
}
section button.close {
    width: 20px;
    height: 20px;
    font-size: 1em;
    background-color: transparent;
    border: none;
    float: right;
    padding: 0;
    margin: 0;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}

main h2 {
    margin: 1em;
}
button {
    cursor: pointer;
}
header {
    display: flex;
    justify-content: flex-end;
    width: 90vw;
    padding: 1em;
}

header h1 {
    margin-right: auto;
}
header img#config-btn {
    width: 3em;
    cursor: pointer;
}
img#loading {
    opacity: 0;
    margin-right: 1em;
    width: 3em;
}
header p {
    color: #fff;
    font-weight: bold;
    padding: 0 1em;
}
header p.online {
    background-color: #4A4;
}
header p.offline {
    background-color: rgb(255, 41, 41);
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 1em;
    margin-top: 1em;
}

section sub {
    width: 100%;
    font-size: 10px !important;
    margin-top: 0.5em;
    text-align: right;
}