main .trade {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    max-width: 8em;
    background: rgb(28 29 31 / 50%);
}

main .trade .chooser {
    display: flex;
    flex-direction: column;
    background-color: #1c1d1f;
    padding: 1em;
    margin: 0.5em 0;
    font-size: 1em;
}

main .trade .chooser p {
    margin: 0.5em 0;
}

main .trade button {
    padding: 2em 1em;
    margin: 4px;
    border: none;
    cursor: pointer;
}

main .trade button:hover {
    background-color: #bbb;
}

main .trade button img {
    width: 4em;
}

.trade.list {
    width: 10em;
    max-width: 10em;
    overflow-y: auto;
    height: calc(100vh - 95px);
}
.trade.list span {
    display: flex;
    padding: 1em 0;
}
.trade.list span div {
    display: flex;
    flex-direction: column;
}
.trade.list span img {
    height: 2.5em;
    margin-right: 1em;
}

#call-btn {
    background-color: #2cac40;
}
#call-btn:hover {
    background-color: #3dbd40;
}
#put-btn {
    background-color: #db4931;
}
#put-btn:hover {
    background-color: #ec5a31;
}