main .trade {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    max-width: 10em;
}

main .trade .chooser {
    display: flex;
    flex-direction: column;
    background-color: #1c1d1f;
    padding: 1em;
    margin: 0.5em 0;
    font-size: 1em;
}

main .trade .chooser p {
    margin: 0.5em 0;
}

main .trade button {
    padding: 3em;
    margin: 4px;
    border: none;
    cursor: pointer;
}

main .trade button:hover {
    background-color: #bbb;
}

main .trade button img {
    width: 5em;
}

#call-btn {
    background-color: #2cac40;
}
#call-btn:hover {
    background-color: #3dbd40;
}
#put-btn {
    background-color: #db4931;
}
#put-btn:hover {
    background-color: #ec5a31;
}